<div class="top-bar">
  <div class="top-bar-title">
    <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon dark" type="button" data-toggle></button>
    </span>
    <strong>Site Title</strong>
  </div>
  <div id="responsive-menu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <a href="#">About Us</a>
          <ul class="menu vertical">
            <li><a href="#">History</a></li>
            <li><a href="#">Our Team</a></li>
          </ul>
        </li>
        <li>
          <a href="#">The Product</a>
          <ul class="menu vertical">
            <li><a href="#">How It Works</a></li>
            <li><a href="#">Animated Views</a></li>
            <li><a href="#">3-D Model</a></li>
            <li><a href="#">Why Roadmaster?</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Media</a>
          <ul class="menu vertical">
            <li><a href="#">News</a></li>
            <li><a href="#">Videos</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Resources</a>
          <ul class="menu vertical">
            <li><a href="#">Locate A Dealer</a></li>
            <li><a href="#">Compare Products</a></li>
            <li><a href="#">FAQ's</a></li>
            <li><a href="#">Reviews</a></li>
          </ul>
        </li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><input type="search" placeholder="Search"></li>
        <li><button type="button" class="button">Search</button></li>
      </ul>
    </div>
  </div>
</div>
